.sidebar .nav>li.nav-header {
    margin: 0;
    padding: 0px 20px 0px;
    line-height: 20px;
    font-size: 11px;
    color: rgba(0, 0, 0);
    font-weight: 600;
}

.sidebar-tpb {
    background: #d8121a;
    color: #fff;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}

.text-sidebar-tpb {
    text-shadow: 0px 0px 14px white;
    font-weight: 600;
}

.profile-user-tpb {
    background: linear-gradient(45deg, #d8121a, #ff3a3a);
    color: #fff;
    padding: 20px;
    margin-bottom: -15px;
}

.sidebar-line-page {
    height: 1.5px;
    margin: 21px 0px -10px 0px;
    background: #d8121a;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 52%);
}

.code-profile {
    font-size: 87.5%;
    color: #ffffff;
    word-break: break-word;
}

.li.active>a,i.ac {
    background: #f3f3f3;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 6px 20px -4px #d8121a;
}

.list-menu {
    display: flex;
    justify-content: space-around;
    align-items: inherit;
}

.list-menu-icon {
    background: linear-gradient(45deg, #f44336, #673ab7);
    padding: 65px;
    border-radius: 5px;
}

.list-menu-icon:hover {
    background: linear-gradient(45deg, #673ab7, #f44336);
    padding: 65px;
    border-radius: 5px;
    box-shadow: 10px 7px 0px 0px rgb(0 0 0 / 15%);
}

.list-font {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 9px white;
}

.cj {
    background: linear-gradient(45deg, #f44336, #673ab7);
    border-radius: 5px;
    padding: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    text-align: center;
}

.cj:hover {
    background: linear-gradient(45deg, #673ab7, #f44336);
    border-radius: 5px;
    padding: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    box-shadow: 10px 7px 0px 0px rgb(0 0 0 / 15%);
}

/* Blink */
.blink {
    animation: 1s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.dashboard-table {
    display: grid;
    padding: 103px;
    background: linear-gradient(45deg, #e91e63, #00bcd4);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 14px -4px rgb(0 0 0 / 68%);
}

.dashboard-bar {
    display: grid;
    padding: 103px;
    background: linear-gradient(45deg, #673ab7, #e91e63);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 14px -4px rgb(0 0 0 / 68%);
}

.dashboard-bar-bc {
    display: grid;
    padding: 35px;
    background: linear-gradient(45deg, #607d8b, #f44336);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 14px -4px rgb(0 0 0 / 68%);
}